<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.tesco.main" />

    <!--<context:property-placeholder location="classpath*:${env:dev}/publisher.properties"/>-->


    <!--&lt;!&ndash; Definition for parseFactory bean &ndash;&gt;-->
    <!--<bean id="daoFactory"-->
          <!--class="org.springframework.beans.factory.config.ServiceLocatorFactoryBean">-->
        <!--<property name="serviceLocatorInterface" value="com.tesco.main.transport.dao.DAOFactory"/>-->
    <!--</bean>-->



    <bean id="requestConfigBuilder" class="org.apache.http.client.config.RequestConfig" factory-method="custom">
        <property name="socketTimeout" value="${socketTimeoutInMs}" />
        <property name="connectTimeout" value="${connectTimeoutInMs}" />
    </bean>
    <bean id="requestConfig" factory-bean="requestConfigBuilder" factory-method="build" />



    <bean id="connManager" class="org.apache.http.impl.conn.PoolingHttpClientConnectionManager" >
        <property name="maxTotal" value="${maxConnection}" />
        <property name="defaultMaxPerRoute" value="${maxConnectionPerRoute}"/>
    </bean>


    <bean id="httpClientBuilder" class="org.apache.http.impl.client.HttpClientBuilder" factory-method="create">
        <property name="defaultRequestConfig" ref="requestConfig" />
        <property name="connectionManager" ref="connManager" />
    </bean>

    <bean id="httpClient" factory-bean="httpClientBuilder" factory-method="build" />


</beans>